.App {
  display:flex;
  align-items: center;
  flex-direction:column;
  justify-content: center;
}
.MuiButton-containedSecondary {
  color: #fff;
  background-color: darkred!important;
}
.warning{
  color: red;
}
.navbar-expand {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content: space-between!important;
}

.detailBTN {
  padding: 7px 0px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size:large
}
.form{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.MuiFormControl-root {
  width:50%
}
/* .ddahQf {
  width: 60%!important;
} */
.sc-hKgILt{
font-size:20px;
}
#column-email,#column-first_name,#column-last_name,#column-buttons,#column-undefined{
  font-weight: 700;
  font-size: 20px;
}
h2 span{
  color: blue;
}
.btns{
  width:175px;
  display:flex;
  justify-content:space-between;
}
.detail-btns{
  width:275px;
  display:flex;
  justify-content:space-between;
}